@import "tailwindcss";

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}

html {
  font-family: 'Nunito', 'Times New Roman', Times, serif;
}

.active {
  @apply bg-soft-blue-green text-dark-purple;
}

@theme {
  /* Primary */
  --color-soft-blue-green: hsl(140.909, 100%, 87%);
  --color-intense-rose: hsl(323, 100%, 77%);
  --color-dark-purple: hsl(242.069, 40%, 14%);
  /* Neutral */
  --color-grayish-blue: hsl(160, 20%, 85%);
  --color-soft-purple: hsl(253.529, 100%, 80%);
  /* Fuente */
  --font-myNunito: 'Nunito', sans;
}